@use 'login';
@use 'nav';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: hidden;
    min-width: 350px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
    font-family: 'Montserrat', sans-serif;
}

main {
    flex-grow: 1;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

:root {
    --navbar-width: 300px;
}

.default-input {
    height: 3.375em;
    display: block;
    width: 100%;
    border: 1px solid #ebeced;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 1.5em;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #0c0e20;
    transition: border 0.5s ease;
    outline: none;

    &:focus {
        border: 1px solid #ade589;
    }
}


.default-green-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #ade589;
    color: white;
    font-weight: 600;
    padding: 1.15em;
    border: 1px solid rgba(157, 158, 165, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    img {
        margin-left: 9px;
    }

    &:hover {
        background-color: #7EB55D;
    }
}

.style-fs-28 {
    font-size: 28px;
}

.style-fs-26 {
    font-size: 26px;
}

.style-fs-20 {
    font-size: 20px;
}

.style-fs-16 {
    font-size: 16px;
}

.style-fs-14 {
    font-size: 14px;
}

.style-fs-13 {
    font-size: 13px;
}

.style-fs-12 {
    font-size: 12px;
}

.style-fs-11 {
    font-size: 11px;
}

@media screen and (max-width: 1100px) {
    .style-fs-28 {
        font-size: 26px;
    }

    .style-fs-26 {
        font-size: 24px;
    }

    .style-fs-20 {
        font-size: 18px;
    }

    .style-fs-16 {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .style-fs-28 {
        font-size: 24px;
    }

    .style-fs-26 {
        font-size: 22px;
    }

    .style-fs-20 {
        font-size: 17px;
    }

    .style-fs-16 {
        font-size: 14px;
    }
}

.default-error {
    display: none;
    text-align: left;
    margin-top: 10px;
    color: #dd3434;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.5;
    &.active {
        display: block;
    }
}

.component-notification {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1.6em;
    background: #FFFBEB;
    border: 1px solid #FCD34D;
    border-radius: 12px;
    &.fixed-notification {
        width: fit-content;
    }
    img {
        display: inline;
    }

    .underline {
        font-weight: 500;
        border-bottom: 1px solid #b45309;
    }
    .text {
        margin-left: 12px;
        font-weight: 400;
        line-height: 1.43;
        color: #b45309;

        a {
            font-weight: 500;
            border-bottom: 1px solid #b45309;
        }

        img {
            filter: brightness(0) invert(27%) sepia(96%) saturate(1783%) hue-rotate(20deg) brightness(92%) contrast(93%);
        }
    }

    &.start {
        justify-content: flex-start;
    }

    &.green {
        background: #ECFDF5;
        border: 1px solid #6EE7B7;
        margin: 20px 0;

        .text {
            color: #065F46;
        }

        span {
            color: #064E3B;
            font-weight: 500;
        }
    }

    &.blue {
        background: #EFF6FF;
        border: 1px solid #93C5FD;

        .text {
            color: #1E40AF;

            img {
                filter: brightness(0) invert(19%) sepia(70%) saturate(6076%) hue-rotate(228deg) brightness(91%) contrast(85%);
            }
        }
    }

    &.red {
        border: 1px solid #DC2626;
        background: #FFE9E9;
        margin: 20px 0;
        .text {
            color: #DC2626;
        }

        img {
            filter: brightness(0) invert(22%) sepia(100%) saturate(3350%) hue-rotate(348deg) brightness(89%) contrast(93%);
            width: 20px;
        }

    }
}

.section-users {
    background-color: #f6f7f8;
    flex-grow: 1;
    padding: 3em;

    .select2-container::before {
        display: none;
    }
    .filters {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;


        &__left {
            width: 100%;
            display: flex;
            align-items: flex-end;
            &__label {
                display: block;
                color: rgba(12, 14, 32, 0.6);
                font-weight: 400;
                margin-bottom: 5px;
            }

            &__block {
                flex-shrink: 0;
                margin-right: 2em;
            }
        }

        &__label {
            display: block;
            margin-bottom: 5px;
            font-weight: 400;
            color: rgba(12, 14, 32, 0.6);
        }
    }

    .component__table {
        tr {
            grid-template-columns: 1fr 1fr 1.2fr 2fr;
        }
        &__data {
            &.email {
                border-right: 0;
            }

            img {
                margin-right: 10px;
            }
        }
    }

    .blocks {
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}


.default-popup {
    display: none;
    &.active {
        display: flex;
    }
    .user-registration {
        .image-upload {
            margin-top: 20px;
        }

        &.natural-person {
            .user-registration__block[data-company] {
                display: none;
            }
        }
        &:not(.natural-person) {
            .user-registration__block[data-person] {
                display: none;
            }
        }

        .select2-container--initial .select2-selection--single {
            border-radius: 4px;
        }

        .select2-container--initial.select2-container--open .select2-selection--single {
            border-radius: 4px 4px 0 0;
        }

        &__grid {
            margin-top: 3em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 4em;
            grid-row-gap: 2em;
        }

        &__label {
            display: block;
            font-weight: 400;
            color: #0c0e20;
            letter-spacing: 0.03em;
            margin-bottom: 6px;
        }

        .default-input {
            height: 54px;
            padding: 0 20px;
        }

        &__radio-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
        }

        &__radio {
            min-height: 54px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ebeced;
            background: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.03em;
            color: #0c0e20;
            transition: border 0.5s ease;
            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                z-index: 2;
                opacity: 0;
            }

            &.active:not(.checkbox) {
                background-color: #ade589;
                border: 1px solid #ade589;
                color: white;
                pointer-events: none;
            }
            &.active {
                background-color: #ade589;
                border: 1px solid #ade589;
                color: white;
            }

            &:hover {
                border: 1px solid #ade589;
            }
        }

        &__textarea-container {
            margin-top: 2em;
        }

        &__textarea {
            resize: none;
            height: 120px !important;
            padding: 20px !important;
        }

        &__agreement {
            display: flex;
            align-items: center;
            margin-top: 2em;

            .user-registration__label {
                margin-bottom: 0;
                margin-right: 1.875em;
            }
            &__flex {
                display: flex;
                align-items: center;
            }

            .checkbox-container {
                display: flex;
                align-items: center;

                label {
                    margin-left: 1em;
                    margin-right: 0;
                    cursor: pointer;
                }

                &:nth-of-type(1) {
                    margin-right: 5em;
                }
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    .page-all-users {
        .section-users {
            .component__table tr {
                grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .page-all-users {
        .section-users {
            .component__table tr {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-all-users {
        .section-users {
            .component__table {
                tr {
                    grid-template-columns: 1fr 1fr;
                }

                td {
                    &:nth-of-type(2) {
                        .component__table__data {
                            border-right: 0;
                        }
                    }
                    &.last {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 2;

                        .default-actions {
                            margin-top: 35px;
                        }

                        &.active {
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .default-popup {
        .user-registration {
            &__grid {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .section-users {
        .filters {
            flex-direction: column;

            &__right {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .page-all-users {
        .section-users {
            .component__table {
                tr {
                    grid-template-columns: 1fr;
                }

                td {
                    border-right: 1px solid #ebeced;
                }

                td.last .default-actions {
                    margin-top: 30px;
                }

                &__data {
                    border: 0;
                }
            }

            .filters {
                &__right {
                    width: 100%;
                }

                .select2-container {
                    width: 100% !important;
                }
            }
        }
    }
    .default-popup {
        .user-registration {
            &__grid {
                grid-template-columns: 1fr;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .default-popup {
        .user-registration {
            &__radio-grid {
                grid-template-columns: 1fr;
                grid-gap: 1em;
            }
        }
    }
}

.component__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 3em;
    background: white;
    &__left {
        display: flex;
        align-items: center;
        padding: 1.5em 0;
        &__icon {
            margin-right: 8px;
            max-width: 25px;
        }

        &__heading {
            color: #0c0e20;
            font-weight: 500;
            letter-spacing: 0.03em;
        }
    }

    &__right {
        &__button {
            img {
                margin: 0 8px 0 0;
            }
        }
    }
}

.nav-margin {
    margin-left: var(--navbar-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: var(--navbar-height);
}

.default-actions {
    position: absolute;
    top: 100%;
    right: 13px;
    background-color: #ffffff;
    border: 1px solid #ebeced;
    z-index: 100;
    width: 310px;
    border-radius: 4px;
    padding: 0 10px;
    margin-top: -4px;
    display: none;
    .action {
        display: block;
        color: #0c0e20;
        font-weight: 400;
        letter-spacing: 0.03em;
        padding: 14px 10px;
        border-bottom: 1px solid #ebeced;

        &:nth-last-of-type(1) {
            border-bottom: 0;
        }

        &.red {
            color: #d54b56;
        }

        &.flex {
            display: flex;
            align-items: center;
        }

        &__icon {
            width: 17px;
            display: flex;
            justify-content: center;
            margin-right: 5px;
            flex-shrink: 0;
        }
    }

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        width: 0;
        height: 0;
    }

    &::after {
        right: 19px;
        border: 6px solid transparent;
        border-bottom-color: white;
    }

    &::before {
        right: 18px;
        border: 7px solid transparent;
        border-bottom-color: #ebeced;
    }
}
.default-actions-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ebeced;
    border-radius: 4px;
    width: 54px;
    height: 54px;
    transition: border 0.5s ease;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    img {
        transition: filter 0.5s ease;
    }

    &:hover {
        border: 1px solid #ade589;
        img {
            filter: brightness(0) invert(81%) sepia(49%) saturate(320%) hue-rotate(46deg) brightness(96%) contrast(93%);
        }
    }
}
.component-success-notification {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1.6em;
    background: #ECFDF5;
    border: 1px solid #6EE7B7;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 100%;

    img {
        display: inline;
    }

    .text {
        margin-left: 12px;
        font-weight: 400;
        line-height: 1.43;
        color: #065F46;

        a {
            font-weight: 500;
            border-bottom: 1px solid #b45309;
        }

        img {
            filter: brightness(0) invert(27%) sepia(96%) saturate(1783%) hue-rotate(20deg) brightness(92%) contrast(93%);
        }

        span {
            color: #064E3B;
            font-weight: 500;
        }

    }

}
.default-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 101;
    padding: 40px 20px;
    overflow: auto;
    scrollbar-width: none;
    .select2-selection__arrow {
        top: 50% !important;
        transform: translateY(-50%);
        width: auto !important;
        height: auto !important;
        right: 20px !important;
    }
    &.active {
        display: flex;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        background: white;
        max-width: 156em;
        width: 100%;
        border-radius: 4px;
        margin: auto;
        padding: 3em;
        position: relative;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        img {
            display: block;
        }
    }

    &__heading {
        display: flex;
        align-items: center;

        img {
            width: 23px;
            filter: brightness(0);
        }

        h2 {
            margin-left: 14px;
            font-weight: 500;
            color: #0c0e20;
            letter-spacing: 0.03em;
            padding-right: 10px;
        }
    }

    &__submit {
        margin-top: 1.25em;
        width: fit-content;
        margin-left: auto;
        padding: 1.15em 2em;
    }
}
html {
    .select2-container {
        display: block;
        width: 100%;

        .select2-selection--multiple {
            min-height: 54px;
            border: 1px solid #ebeced;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background: white;
            transition: border 0.5s ease;
            display: flex;
            align-items: center;
            .select2-selection__rendered {
                font-size: 16px;
                padding-left: 20px;
                color: rgb(12, 14, 32);
                font-weight: 400;
                flex-shrink: 0;
                display: flex;
                flex-wrap: wrap;
                max-width: 100%;
            }


            .select2-search {
                display: block;
                width: 100%;
                textarea {
                    width: 100% !important;
                    font-size: 16px;
                    color: rgb(12, 14, 32);
                    font-weight: 400;
                    letter-spacing: 0.03em;
                    font-family: 'Montserrat', sans-serif;
                    outline: none;
                    margin: 0;
                }

                textarea {
                }
            }

            .select2-selection__choice {
                background-color: white;
                color: #0c0e20;
                border: 1px solid #ade589;
                padding: 5px 10px;
                margin-right: 10px;
                &__remove {
                    position: static;
                    background: none !important;
                    border-right: 0;
                    color: #0c0e20;
                    transition: color 0.5s ease;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-size: 20px;

                    &:hover {
                        color: #ade589;
                    }
                }
            }
        }

        &.select2-container--focus .select2-selection--multiple {
            border: 1px solid #ade589;
        }

        .select2-selection--single {
            height: 54px;
            border: 1px solid #ebeced;
            border-radius: 4px;
            background: white;
            transition: border 0.5s ease;
            .select2-selection__rendered {
                font-size: 16px;
                padding-left: 20px;
                padding-right: 35px;
                color: rgb(12, 14, 32);
                font-weight: 400;
                line-height: 54px;
            }

            .select2-selection__placeholder {
                color: rgba(12, 14, 32, 0.6);
            }
        }

        .select2-dropdown {
            border: 1px solid #ebeced;
            border-top: 0;
            border-radius: 0 0 4px 4px;
            max-height: 200px;
            overflow: auto;

            .select2-results__options {
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .select2-results__option {
                font-size: 14px;
                font-weight: 400;
                color: #0c0e20;
                letter-spacing: 0.03em;
                padding: 15px 20px;
                border-bottom: 1px solid #ebeced;
                background: white;

                &:nth-last-of-type(1) {
                    border-bottom: 0;
                    border-radius: 0 0 4px 4px;
                }

                &--selected {
                    background: #ebeced;
                }

                &:hover {
                    background: #ade589;
                    color: white;
                }
            }

            .select2-search__field {
                outline: none;
                border: 1px solid rgb(235, 236, 237);
                font-size: 14px;
                color: #0c0e20;
                padding: 0.5em 1em;
                letter-spacing: 0.03em;
                transition: border 0.5s ease;
                &:focus {
                    border: 1px solid #ade589;
                }
            }

            .select2-results__message {
                pointer-events: none;
            }

            &.checkboxy {
                .select2-results__option {
                    position: relative;
                    &::before {
                        content: url('../images/nice-checkmark.svg');
                        display: block;
                        z-index: 2;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 29px;
                        opacity: 0;
                    }

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        border: 2px solid rgba(106, 108, 119, 0.4);
                        background-color: white;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 24px;
                    }

                    &--selected {
                        background: none;
                        &::before {
                            opacity: 1;
                        }

                        &::after {
                            background-color: #ade589;
                            border: 2px solid #ade589;
                        }

                        &:hover {
                            color: #0c0e20;
                        }
                    }
                }
            }
        }
    }

}


.global-empty {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    grid-template-columns: 1fr !important;
    display: flex !important;
    justify-content: center !important;
    align-items:  center !important;
    td {
        min-height: 0 !important;
    }
}
